.image-moon-1 {
  background-image: url(../images/gallery/moon-1.jpg);
}
.image-moon-2 {
  background-image: url(../images/gallery/moon-2.jpg);
}
.image-moon-3 {
  background-image: url(../images/gallery/moon-3.jpg);
}
.image-moon-4 {
  background-image: url(../images/gallery/moon-4.jpg);
}
.image-moon-5 {
  background-image: url(../images/gallery/moon-5.jpg);
}
.image-moon-6 {
  background-image: url(../images/gallery/moon-6.jpg);
}
.image-moon-7 {
  background-image: url(../images/gallery/moon-7.jpg);
}
.image-moon-8 {
  background-image: url(../images/gallery/moon-8.jpg);
}
.image-moon-9 {
  background-image: url(../images/gallery/moon-9.jpg);
}
.image-moon-10 {
  background-image: url(../images/gallery/moon-10.jpg);
}
